# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

#orcad
*.opj
*.DBK
*.DSNlck
*.eco
*.bom
*.err
*.ONL

#iar
*.pbi
*.cout
*.browse
*.bak
*.log
*.pbd
*.dni
*.wsdt
*.sim
*.tmp
*.xcl
*.lst
*.cspy.bat
*.dbgdt
*.o
*.mxproject
*.jlink
*.linf
*.wspos
*.dep
*.hex
*.bin
*.ninja_log
*.pbw
*.ninja
**/ALL
**/settings
**/Obj
**/Obj/
*.ewd
*.ewt
#atom
*.tags
*.tags1



#pads
*.inf

#slickedit
*.vpwhist
*.vtg

#cad
*.dwl2
*.dwl

#other
*.html
#vsocde
#.vscode

#autocad
*.dwl
*.dwl2

#
**/*.uvguix.*
**/*.uvguix.admin
**/JLinkLog.txt

**/output
*.lst
*.ram
*.scx
**/Objects
**/*.map
**/Listings
**/*.o
**/*.axf
**/*.crf
**/*.txt
*.uvguix.lc_iot
**/Exe
**/List
*.uvguix.*
**/DebugConfig
**/*.uvoptx
**/*.uvopjx
**/~$*.docx
**/~$*.doc
**/*.bin
**/~$*.xlsx

!Encryption.exe
!GTxx-Bootloader.hex
!乐畅-通用式合并&加密工具.bat
!.gitignore



doc/~*.xlsx
doc/~$协议文档.doc
