# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

#orcad
*.opj
*.DBK
*.DSNlck
*.eco
*.bom
*.err
*.ONL

#iar
*.pbi
*.cout
*.browse
*.bak
*.log
*.pbd
*.dni
*.wsdt
*.sim
*.tmp
*.xcl
*.lst
*.cspy.bat
*.dbgdt
*.o
*.mxproject
*.jlink
*.linf
*.wspos
*.dep
*.hex
*.bin
*.ninja_log
*.pbw
*.ninja
**/ALL
**/settings
**/Obj
**/Obj/
*.ewd
*.ewt
#atom
*.tags
*.tags1



#pads
*.inf

#slickedit
*.vpwhist
*.vtg

#cad
*.dwl2
*.dwl

#other
*.html
#vsocde
#.vscode

#autocad
*.dwl
*.dwl2

#
**/*.uvguix.*
**/*.uvguix.admin
**/JLinkLog.txt

**/output
*.lst
*.ram
*.scx
**/Objects
**/*.map
**/Listings
**/*.o
**/*.axf
**/*.crf
**/*.txt
*.uvguix.lc_iot
**/Exe
**/List
*.uvguix.*
**/DebugConfig
**/*.uvoptx
**/*.uvopjx
**/~$*.docx
**/~$*.doc
**/*.bin
**/~$*.xlsx
**/*.uvprojx
*.uvoptx
**/*.uvguix.26509

# ---------------------------------------------------------------------------
# Keil MDK / µVision 编译产物（*.map / *.axf 等上面已有通配，此处补 .htm 等）
# 注意：若这些文件曾经被 git add 过，仅改 .gitignore 仍会在「更改」里出现，
# 需对已跟踪文件执行一次：git rm --cached <文件>（见仓库说明或让助手执行）
# ---------------------------------------------------------------------------
MDK-ARM/**/*.build_log.htm
MDK-ARM/**/*.htm
MDK-ARM/**/*_*.dep

doc/~*.xlsx
doc/~$协议文档.doc

tools/watch_iconfont/lv_font_conv_pkg/
tools/watch_iconfont/MaterialIcons-Regular.ttf
